# Python.
__pycache__/
*.pyc

# Configuration files.
/*.ini
!default.ini

# Some test scripts.
/test*.py

# Build directory.
release/

# Documentation build directory.
documentation/

# Vagrant machine for tests.
test/.vagrant/

# Scripts for settings up the test server.
test/nuclos.sh

# Information about test coverage.
test/.coverage
test/htmlcov/

# Build archives.
*.zip
*.tar.gz
